[submodule "libft"]
	path = libft
	url = git@github.com:Juan-aga/libft.git
[submodule "push-swap"]
	path = push-swap
	url = git@github.com:Juan-aga/push-swap.git
[submodule "other_resources"]
	path = other_resources
	url = git@github.com:Juan-aga/other_resources.git
[submodule "Philosophers"]
	path = Philosophers
	url = git@github.com:Juan-aga/Philosophers.git
[submodule "fractol"]
	path = fractol
	url = git@github.com:Juan-aga/fractol.git
[submodule "Minishell"]
	path = Minishell
	url = git@github.com:Juan-aga/Minishell.git
[submodule "miniRT"]
	path = miniRT
	url = git@github.com:emartinez-dev/miniRT.git
[submodule "CPP-Modules"]
	path = CPP-Modules
	url = https://github.com/Juan-aga/CPP-Modules
